@import "fonts.css";

/*Спецификация*/
ul, li  {
  display: block;
  padding: 0;
  margin: 0;
}

.be-static  {
position: static;
}

.container  {
  max-width: 1440px;
}

h1  {
  font-family: 'Tenor Sans';
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  text-align: center;
  text-transform: uppercase;  
}

h2  {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

p   {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; 
}

.caption {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5em;
  line-height: 14px;
  margin-left: 10px;
  text-transform: uppercase;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 475px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.pad-50 {
  padding-top: 50px;
}


.left__img {
  position: relative; 
}

.left__img::before {
  content: '';
  width: 226px;
  height: 226px;
  display: block;
  position: absolute;
  left: 4%;
  top: 30%;
  border: 20px solid #E8C300;
  z-index: 3;
}

.right__img {
  position: relative;   
}

.right__img::before {
  content: '';
  width: 226px;
  height: 226px;
  display: block;
  position: absolute;
  left: 62%;
  top: 30%;
  border: 20px solid #E8C300;
  z-index: 3;
}

/*HEADER*/
.header {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), 
  rgba(0, 0, 0, 0.3)), url("../img/svg/header-bg.svg");
    background-size: cover;
}

.nav-bar  {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease;  
}

.nav-bar-small {
  background: #333333;
}

.menu__item {
  padding-top: 40px; /*40px*/
  margin: 0 40px;
  transition: padding-top 0.3s ease;
}

.menu__item-small {
  padding-top: 15px; /*15px*/
}

.menu__item_logo  {
  padding-top: 25px; /*25px*/
  transition: padding-top 0.3s ease;
}

.menu__item_logo-small  {
  padding-top: 0px; /*0px*/
}

.menu__item_logo img{
  width: 150px;
  transition: width 0.3s ease;
}

.menu__item_logo img.small {
  width: 45px;
}

.menu__item a{
  line-height: 18px;
  color: #FFFFFF;
}

.menu__item a:hover {
  text-decoration: none;
  color: #E8C300;
}

.menu__border {
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title  {
  padding-top: 250px;
}

.title__shchedule   {
  display: none;
  width: 320px;
  margin-left: -100px;
  margin-top: 120px;
  transform: rotate(270deg);
}

.title__restoran    {
  font-family: 'Tenor Sans';
  font-size: 96px;
  text-transform: uppercase;
  line-height: 96px;
  text-align: center;
  padding-bottom: 25px;
}

.rectangle   {
position: relative;    
}

.rectangle::before  {
  content: '';
  display: block;
  width: 60px;
  height: 5.11px;
  left: 0;
  right: 0;
  margin: 0 auto;

  background: #E8C300;
  border-radius: 50px;  
}


.title__button {
  color: #FFFFFF;
  width: 200px;
  height: 60px;
  padding: 10px 25px;
  margin: 0 40px;
  transition:all 0.3s ease;
}
 
.title__button_position {
  padding-bottom: 82px;
  width: 565px;
  height: 60px;
  left: 0;
  right: 0;
  margin: 35px auto;
}


.title__rightBorder {
  display: none;
  position: absolute;
  top: 100px;
  margin-left: 250px;
  width: 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 672px;
}

.title__leftBorder {
  display: none;
  position: absolute;
  top: -225px;
  width: 1px;
  margin-left: -150px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 672px;
}

.title__midBorder {
  display: none;
  position: absolute;
  right:49%;
  top:-122px;
  width: 1%;
  height: 95.5%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.title__midBorderEND  {
  display: none;
  position: absolute;
  right:0;
  top:342px;
  width: 50%;
  height: 20%;
  border-left: 1px solid rgba(255, 255, 255, 0.2); 
}
.button_empty {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  }
  
.button_full {
  background: #E8C300;
  border: 1px solid #E8C300;
  border-radius: 5px;
}

.button_full:hover, .button_full:hover,
.button_empty:hover {
  background: orange;
}

.circle {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
}

.icons  {
  display: none;
  margin-left: -15px;
  font-size: 20px;
  line-height: 23px;
  text-align:  center;
}

.icons a  {
  color:white;
}
  
.icons__item  {
  margin-top: 18px;
  color:white;
}

.circle:hover  {
  background: #E8C300;
}

.chevron  {
  margin-top: 10px;
  font-size: 40px;
  text-align:  center;
  color:white;
}

.cr-pos {
  left: 0;
  top: 0;
  margin: 0 auto;
}

.title__circle  {
  padding-bottom: 80px;
}


/*ABOUT US*/
.about  {
  padding-bottom: 100px;
}
.about__title {
  padding-top: 167px;
  text-align: center;
}

.about__pretitle  {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.about__par {
  text-align: center;
}

/*OUR TEAM*/
.team {
  color: #FFFFFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), 
  rgba(0, 0, 0, 0.3)), url("../img/png/specialty\'s-bg.png");
  background-size: cover;
  padding-bottom: 100px;
}

.cap  {
  padding-top: 50px;
}

.team__title  {
  padding-top: 112px;
  text-align: center;
}

.team__pretitle {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.team__par  {
  opacity: 0.8;
  text-align: center;
}

/*BOOK*/
.book {
padding-bottom: 50px;
}

.book__button {
  width: 590px;
  height: 60px;
  color: #FFFFFF;
}

.book__input  {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 290px;
  height: 60px;
  background: #E5E5E5;
}

.bot-20 {
  margin-bottom: 20px;
}

.book__title  {
  padding-top: 170px;
}

.book__par  {
  text-align: center;
  color: #333333;
  opacity: 0.5;
  font-family: 'Open Sans'; 
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-top: 20px;
}

.formtp {
  width: 570px;
  left: 0;
  top: 0;
  margin: 0 auto;
}

/*SPECIALTIES*/
.specialties  {
  color: #FFFFFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), 
  rgba(0, 0, 0, 0.3)), url("../img/png/specialty\'s-bg2.png");
  background-size: cover;
  padding-bottom: 100px;
}
/*DELICIOUS*/
.delicious__title {
  padding-top: 100px;
}

.delicious__menu_item  {
  margin-right: 50px;
}

.delicious__menu_item  a{
  color: black;
}

/*media*/
@media (min-width:768px) {
  .icons  {
    display: block;
  }
  
  .title__shchedule {
    display: block;
  }
}

@media (max-width:1200px) {
  .img  {
    padding-top: 60px;
  }
  .left__img::before  {
    display: none;
  }
  .right__img::before {
    display: none;
  }
}

@media (max-width:995px)  {

  .img  {
    padding-top: 80px;
  }
}

@media (max-width:768px) {
  .img  {
    padding-top: 0;
  }

  .about  {
    padding-bottom: 50px;
  }

  .specialties  {
    padding-bottom: 50px;
  }
  
  .about__title {
    padding-top: 50px;
  }

  .team__title  {
    padding-top: 25px; 
  }

  .team {
    padding-bottom: 50px;
  }

  .book {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .book__title  {
    padding-top: 50px;
  }

  .title__button  {
    margin: 0 5px;
  }

  .title__button_position {
    width:424px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 35px auto;
  }

  .book__input {
    width: 230px;
    height: 60px;  
  }

  .book__button {
    width: 470px;
  }

  .formtp {
    width: 450px;
    left: 0;
    top: 0;
    margin: 0 auto;
  }
}


